body {
    background-color: black;
    color: white;
  }
  .container {
    display: flex;
  }
  .column {
    width: 120px;
    height: 600px;
    padding: 0 5px;
  }
  .yellow-column {
    background: rgb(219, 173, 64);
  }
  .red-column {
    background: rgb(211, 68, 55);
  }
  .green-column {
    background: rgb(64,141,81)
  }
  .blue-column {
    background: rgb(37, 72, 137);
  }
  .symbol {
    font-size: 26px;
    width: 120px;
    position: absolute;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .center {
    text-align: center;
  }
  .yellow {
    color: rgb(255, 255, 120);
  }
  .red {
    color: rgb(250, 150, 150);
  }
  .green {
    color: rgb(100, 250, 100);
  }
  .blue {
    color: rgb(115, 145, 238)
  }
  .white {
    color: white;
  }
  .hline {
    position: absolute;
    top: 550px;
    width: 650px;
    height: 4px;
    color: white;
    background: white;
  }
